.job-cover{
    margin-top: 150px;
    background-color: rgb(253, 253, 253);
    // background-image:url('/images/category.png');
    .job-section{
        width: 80%;
        margin: auto;

        .explore-title{
            p{
                font-family: $font-family;
                font-size: 3rem;
                font-weight: 600;
                margin-bottom: 0;
            }
        }
    
        .explore-category{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            justify-content: center;
            margin-top: 15px;

            .box{
                width: 400px;
                height: 350px;
                font-size: 1.3rem;
                font-weight: 500;
                border: none;
                margin-top: 25px;
                padding: 25px;

                box-shadow: -1px 6px 66px -17px rgba(0,0,0,0.15);
                -webkit-box-shadow: -1px 6px 66px -17px rgba(0,0,0,0.15);
                -moz-box-shadow: -1px 6px 66px -17px rgba(0,0,0,0.15);


                // card-styling
                .box-first-block{
        
                    .title-circle{
                        .circle{
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: red;
                        }
                        p{
                            font-size: .9rem;
                            margin: 0 10px;
                        }
                    }

                    .jobpost-title{
                        font-size: 1.5rem;
                        font-weight: bolder;
                        margin: 20px 0;
                    }

                    .jobpost-location{
                        font-size: .9rem;
                        color: rgb(151, 151, 151);
                        
                        p:nth-child(2){
                            padding: 0 5px;
                        }
                    }
                }

                .box-second-block{
                    margin-top: 50px;
                    .company-name{
                        p{
                            font-size: .9rem;
                            margin: 0;
                        }

                        p:nth-child(1){
                            margin-left: 10px;
                        }
                        
                        p:nth-child(2){
                            color: rgb(161, 161, 161);
                            margin-left: 5px;
                        }
                    }
                }
            }

            .box:hover{
                cursor: pointer;
            }
        }

        .job-button{

            width: 97%;
            padding: 50px 0;
            
            .btn{
               font-weight: bold;
               color: #fff;
               border: none;
               background: $btn-bg-color;
               padding: 15px 50px;
            }
        }
    }
}

// media Queries

@media only screen and (max-width: 1462px){
    .currentOpen{
        // background: red;
        padding-left: 100px;
    }
}

@media only screen and (max-width: 1087px){
    .currentOpen{
        // background: red;
        padding-left: 210px;
    }
}

@media only screen and (max-width: 1024px){
    .currentOpen{
        // background: red;
        padding-left: 210px;
    }
}

@media only screen and (max-width: 910px){
    .currentOpen{
        padding-left: 165px;
    }
}

@media only screen and (max-width: 830px){
    .currentOpen{
        padding-left: 130px;
    }
}

@media only screen and (max-width: 768px){
    .currentOpen{
        padding-left: 110px;
    }
}

@media only screen and (max-width: 700px){
    .currentOpen{
        padding-left: 70px;
    }
}

@media only screen and (max-width: 592px){
    .currentOpen{
        padding-left: 50px;
    }
}

@media only screen and (max-width: 550px){
    .currentOpen{
        padding-left: 20px;
    }
}

@media only screen and (max-width: 500px){
    .currentOpen{
        padding-left: 10px;
    }
}

@media only screen and (max-width: 482px){
    .currentOpen{
        padding-left: 0;

        .col-md-4 .box{
            width: 100% !important;

            .box-second-block{
                margin-top: 15px !important;
            }
        }
    }
}


@media only screen and (max-width: 425px){


    .currentOpen{
        padding-left: 0;

        .col-md-4 .box{
            width: 100% !important;

            .box-second-block{
                margin-top: 15px !important;
            }
        }
    }
}

@media only screen and (max-width: 320px){
    .currentOpen{
        .box{
            .box-first-block, .box-second-block{
                padding: 0 20px;
            }
        }
    }
}




