.footer-cover{
    margin-top: 150px;

    .footer-section{
        // width: 80%;
        // margin: auto;
        .first-link-block{
            display: flex;
            justify-content: center;
            width: 50%;
            margin: 30px auto;
            li{
                width: 10%;
                margin: auto;
                list-style: none;
                text-decoration: none;
                a{
                    font-size: 1.2rem;
                }
            }

            li a:hover{
                cursor: pointer;
                color: blue;
                border-bottom: 1px solid blue;
            }
        }

        .footer-link{
            color: #fff;
            .row{
                width: 90%;
                height: 20vh;
                margin: auto;
                .col-md-3{
                    font-size: 2rem;
                    font-weight: bold;
                }
                .col-md-9{
                    ul{
                        display: flex;
                        justify-content: flex-end;
                        margin-bottom: 0;
                        li {
                            width: 10%;
                            list-style: none;
                            text-decoration: none;
                            a{
                                font-size: 0.9rem;
                            }

                            a:hover{
                                cursor: pointer;
                                border-bottom: 1px solid #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px){

    .footer-link{
        .row{
            .col-md-9{
                ul{
                    li{
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px){

    .footer-section{
        .first-link-block{
           padding: 0;
           width: 80%; 
        }
    }

    .footer-link{
        .row{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .col-md-3{
                display: flex;
                justify-content: center;
            }
            .col-md-9{
                ul{
                    display: flex;
                    justify-content: center !important;
                    margin-top: 20px;
                    li{
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 550px){

    .footer-section{
        .first-link-block{
            width: 80% !important;
        }
    }
}

@media only screen and (max-width: 510px){

    .footer-section{
        .first-link-block{
            li a{
                font-size: 15px !important;
            }
        }
    }


    .footer-link{
        .row{
            .col-md-9{
                ul{
                    li{
                        margin: 0 25px;
                    }
                }
            }
        }
    }
}