.hero-section{
    background: $bg-color;
    
    .row{
       height: 70vh;
       overflow: hidden;
       position: relative;
    }

    .hero-text-block{
        
        font-family: $font-family;
        display: flex;
        justify-content: center;
        // align-items: center;

        .com-tagline{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // width: 70%;
            h2{
                font-family: $font-family;
                font-size: 6rem;
                font-weight: bolder;
            }
        }
    }

    // Hero Banner Image
    .hero-banner-block{
        // background: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        .hero-image{
            // background: chocolate;
            display: flex;
            justify-content: center;
            width: 100%;
            height: auto;
            
            img{
                width: 60%;
            }
        }
    }

    .search-bar{
        background: #fff;

        width: 50%;
        position: absolute;
        top: 53%;
        left: 15%;
        height: 10vh;

        // shadow
        box-shadow: -1px 6px 66px -17px rgba(0,0,0,0.35);
        -webkit-box-shadow: -1px 6px 66px -17px rgba(0,0,0,0.35);
        -moz-box-shadow: -1px 6px 66px -17px rgba(0,0,0,0.35);

        .job-location{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-left: 1px solid #e0e0e0;
            padding:0 50px;
            
            .location{
                p{
                    margin-bottom: 0;
                    margin-left: 10px;
                }
                img{
                    opacity: 0.5;
                }
            }

            .arrow{
                opacity: 0.5;
                font-size: 50px;
                transform: rotate(-90deg);
            }
        }

        .job-title{
            padding-left: 50px;
            p{
                margin-bottom: 0px;
                margin-left: 10px;
            }
        }

        .search-button{
            background: $btn-bg-color;

            .btn{
                color: #fff;
            }
        }
    }
}

// Media Queries - Main body

@media only screen and (max-width: 1400px){
    .hero-section{
        .hero-text-block{
            .com-tagline{
                h2{
                    font-size: 4rem;
                }
            }
        }

        .search-bar{
            width: 55%;

            position: absolute;
            top: 48%;
        }
    }
}

@media only screen and (max-width: 1000px){
    .hero-section{
        position: relative;
        .search-bar{
            width: 75% !important;

            position: absolute;
            top: 90%;
        }
    }
}

@media only screen and (max-width: 1200px){

    .hero-banner-block{
        .hero-image{  
            img{
                width: 80% !important;
            }
        }
    }

    .search-bar{
        width: 58% !important;
    }
}

@media only screen and (max-width: 768px){
    .hero-section{
        position: relative;
        .hero-text-block{
            .com-tagline{
                h2{
                    font-size: 2.8rem;
                }
            }
        }

        .hero-banner-block{
            .hero-image{
                img{
                    width: 60% !important;
                }
            }
        }

        .search-bar{
            height: 20vh;
            position: absolute;

            .job-location{
                border-top: 1px solid #e0e0e0;;
            }
        }
    }
}

@media only screen and (max-width: 610px){
    .hero-section{
        .hero-banner-block{
            .hero-image{
                img{
                    width: 48%;
                }
            }
        }
    }
}