// font style file
@import './styles/font';
// Global variable defined
@import './styles/vars';
// navbar styling
@import './styles/navbar';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .App{
//   background: $bg-color;
// }