// font style file
@import './styles/font';
// Global variable defined
@import './styles/vars';
// navbar styling
@import './styles/navbar';
// Hero section
@import './styles/hero_section';
// Client Section
@import './styles/clientThumbnail';
//  Job Board
@import './styles/jobboard';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  overflow-x: hidden;
}